<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=""><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{blog.title}}</li>
            </ol>
        </div><!-- End .container -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <article class="post single">
                    <div class="post-media">
                        <div class="post-slider owl-carousel owl-theme">
                            <img *ngFor="let img of blog.blog_images" [src]="img.path" alt="Post">
                        </div><!-- End .post-slider -->
                    </div><!-- End .post-media -->

                    <div class="post-body">
                        <div class="post-date">
                            <span class="day">{{blog.day}}</span>
                            <span class="month">{{blog.month}}</span>
                        </div><!-- End .post-date -->

                        <h2 class="post-title">
                            {{blog.title}}
                        </h2>

                        <div class="post-meta">
                            <span><i class="icon-calendar"></i>{{blog.day}} {{blog.month}} {{blog.year}}</span>
                            <span><i class="icon-user"></i>โดย <a href="javascript:void(0)">{{blog.user.fname}} {{blog.user.lname}}</a></span>
                            <!-- <span><i class="icon-folder-open"></i>
                                <a href="#">Haircuts & hairstyles</a>,
                                <a href="#">Fashion trends</a>,
                                <a href="#">Accessories</a>
                            </span> -->
                        </div><!-- End .post-meta -->

                        <div class="post-content">
                            <p style="white-space: pre-line;">{{blog.detail}}</p>
                        </div><!-- End .post-content -->

                        <!-- <div class="post-share">
                            <h3>
                                <i class="icon-forward"></i>
                                Share this post
                            </h3>

                            <div class="social-icons">
                                <a href="#" class="social-icon social-facebook" target="_blank" title="Facebook">
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon social-twitter" target="_blank" title="Twitter">
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#" class="social-icon social-linkedin" target="_blank" title="Linkedin">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="#" class="social-icon social-gplus" target="_blank" title="Google +">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                                <a href="#" class="social-icon social-mail" target="_blank" title="Email">
                                    <i class="icon-mail-alt"></i>
                                </a>
                            </div>
                        </div> -->

                        <!-- <div class="post-author">
                            <h3><i class="icon-user"></i>Author</h3>

                            <figure>
                                <a href="#">
                                    <img src="assets/images/blog/author.jpg" alt="author">
                                </a>
                            </figure>

                            <div class="author-content">
                                <h4><a href="#">John Doe</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab officia culpa corporis, quidem placeat minima unde vel veniam laboriosam et animi, inventore delectus, officiis doloribus ex amet illum ea suscipit!</p>
                            </div>
                        </div> -->

                        <!-- <div class="comment-respond">
                            <h3>Leave a Reply</h3>
                            <p>Your email address will not be published. Required fields are marked *</p>

                            <form action="#">
                                <div class="form-group required-field">
                                    <label>Comment</label>
                                    <textarea cols="30" rows="1" class="form-control" required></textarea>
                                </div>

                                <div class="form-group required-field">
                                    <label>Name</label>
                                    <input type="text" class="form-control" required>
                                </div>

                                <div class="form-group required-field">
                                    <label>Email</label>
                                    <input type="email" class="form-control" required>
                                </div>

                                <div class="form-group">
                                    <label>Website</label>
                                    <input type="url" class="form-control">
                                </div>
                                
                                <div class="form-group-custom-control mb-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="save-name">
                                        <label class="custom-control-label" for="save-name">Save my name, email, and website in this browser for the next time I comment.</label>
                                    </div>
                                </div>

                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary">Post Comment</button>
                                </div>
                            </form>
                        </div> -->
                    </div><!-- End .post-body -->
                </article><!-- End .post -->

                <div class="related-posts">
                    <h4 class="light-title">บทความอื่นๆ</h4>

                    <div class="owl-carousel owl-theme related-posts-carousel">
                        <article class="post" *ngFor="let blog of blog.blog_other">
                            <div class="post-media">
                                <a href="blog_detail?b={{blog.url}}">
                                    <img [src]="blog.path" alt="Post">
                                </a>
                            </div><!-- End .post-media -->

                            <div class="post-body">
                                <div class="post-date">
                                    <span class="day">{{blog.day}}</span>
                                    <span class="month">{{blog.month}}</span>
                                </div><!-- End .post-date -->

                                <h2 class="post-title">
                                    <a href="blog_detail?b={{blog.url}}">{{blog.title}}</a>
                                </h2>

                                <div class="post-content">
                                    <p>{{blog.detail}}</p>

                                    <a href="blog_detail?b={{blog.url}}" class="read-more">อ่านเพิ่มเติม <i class="icon-angle-double-right"></i></a>
                                </div><!-- End .post-content -->
                            </div><!-- End .post-body -->
                        </article>
                    </div><!-- End .owl-carousel -->
                </div><!-- End .related-posts -->
            </div><!-- End .col-lg-9 -->

            <aside class="sidebar col-lg-3">
                <div class="sidebar-wrapper">
                    <div class="widget widget-search">
                        <form role="search" method="get" class="search-form" action="#">
                            <input type="search" class="form-control" placeholder="ค้นหา" name="search" [(ngModel)]="filter.search">
                            <button type="button" class="search-submit" title="ค้นหา" (click)="clickSearch()">
                                <i class="icon-search"></i>
                                <span class="sr-only">ค้นหา</span>
                            </button>
                        </form>
                    </div><!-- End .widget -->

                    <!-- <div class="widget widget-categories">
                        <h4 class="widget-title">Blog Categories</h4>

                        <ul class="list">
                            <li><a href="#">All about clothing</a></li>
                            <li><a href="#">Make-up &amp; beauty</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Fashion trends</a></li>
                            <li><a href="#">Haircuts &amp; hairstyles</a></li>
                        </ul>
                    </div> -->

                    <!-- <div class="widget">
                        <h4 class="widget-title">Recent Posts</h4>

                        <ul class="simple-post-list">
                            <li>
                                <div class="post-media">
                                    <a href="single.html">
                                        <img src="assets/images/blog/widget/post-1.jpg" alt="Post">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <a href="single.html">Post Format - Video</a>
                                    <div class="post-meta">
                                        April 08, 2018
                                    </div>
                            </li>

                            <li>
                                <div class="post-media">
                                    <a href="single.html">
                                        <img src="assets/images/blog/widget/post-2.jpg" alt="Post">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <a href="single.html">Post Format - Image</a>
                                    <div class="post-meta">
                                        March 23, 2016
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div> -->

                    <!-- <div class="widget">
                        <h4 class="widget-title">Tagcloud</h4>

                        <div class="tagcloud">
                            <a href="#">Fashion</a>
                            <a href="#">Shoes</a>
                            <a href="#">Skirts</a>
                            <a href="#">Dresses</a>
                            <a href="#">Bags</a>
                        </div>
                    </div> -->

                    <div class="widget">
                        <h4 class="widget-title">บทความ</h4>

                        <ul class="list">
                            <li><a href="blog" >บทความทั้งหมด</a></li>
                            <li *ngFor="let bd of blog_date"><a href="blog?month={{bd.blog_month}}&year={{bd.blog_year}}&" >{{bd.blog_month_th}} {{bd.blog_year}} ({{bd.count}})</a></li>
                        </ul>
                    </div><!-- End .widget -->


                    <!-- <div class="widget widget_compare">
                        <h4 class="widget-title">Compare Products</h4>

                        <p>You have no items to compare.</p>
                    </div> -->
                </div><!-- End .sidebar-wrapper -->
            </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-6"></div><!-- margin -->
</main><!-- End .main -->