<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left d-none d-sm-block">
                <p class="top-message text-uppercase">บริษัท ทรูไลน์ เมด จำกัด</p>
            </div><!-- End .header-left -->

            <div class="header-right header-dropdowns ml-0 ml-sm-auto w-sm-100">
                <div class="header-dropdown dropdown-expanded d-none d-lg-block">
                    <a href="#">Links</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="myorder">รายการสั่งซื้อสินค้า </a></li>
                            <li><a href="#">ใบรับประกันสินค้า</a></li>
                            <li><a href="news">ข่าวสาร</a></li>
                            <li><a href="blog">บล็อก</a></li>
                            <li><a href="about">เกี่ยวกับเรา</a></li>
                            <li><a href="contact">ติดต่อเรา</a></li>
                            <!-- <li><a href="help">ช่วยเหลือ</a></li> -->
                        </ul>
                    </div><!-- End .header-menu -->
                </div><!-- End .header-dropown -->

                <span class="separator"></span>

                <div class="header-dropdown mr-auto mr-sm-3 mr-md-0">
                    <a href="#"><img src="assets/images/flags/th.png" alt="ไทย"></a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="#"><img src="assets/images/flags/th.png" alt="ไทย">ไทย</a></li>
                            <li><a href="#"><img src="assets/images/flags/en.png" alt="English">ENG</a></li>
                        </ul>
                    </div><!-- End .header-menu -->
                </div><!-- End .header-dropown -->

                <span class="separator"></span>

                <div class="social-icons">
                    <a href="#" class="social-icon social-instagram icon-instagram" target="_blank"></a>
                    <a href="#" class="social-icon social-twitter icon-twitter" target="_blank"></a>
                    <a href="https://www.facebook.com/truelinemed86" class="social-icon social-facebook icon-facebook" target="_blank"></a>
                </div><!-- End .social-icons -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle">
        <div class="container">
            <div class="header-left col-lg-2 w-auto pl-0">
                <button class="mobile-menu-toggler text-primary mr-2" type="button">
                    <i class="icon-menu"></i>
                </button>
                <a href="" class="logo">
                    <img src="assets/images/logo.png" alt="True Line Med Logo">
                </a>
            </div><!-- End .header-left -->

            <div class="header-right w-lg-max">
                <div
                    class="header-icon header-icon header-search header-search-inline header-search-category w-lg-max text-right">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper">
                            <input type="search" class="form-control" placeholder="ค้นหา..." [(ngModel)]="search_data.search" name="search">
                            <div class="select-custom">
                                <select name="cat"  [(ngModel)]="search_data.category_id">
                                    <option value="">สินค้าทั่งหมด</option>
                                    <option *ngFor="let cat of data.category" value="{{cat.id}}">{{cat.name}}
                                    </option>
                                </select>
                            </div><!-- End .select-custom -->
                            <button class="btn icon-search-3 p-0" type="button" (click)="clickSearch()"></button>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->

                <div class="header-contact d-none d-lg-flex pl-4 ml-3 mr-xl-5 pr-4">
                    <img alt="phone" src="assets/images/phone.png" width="30" height="30" class="pb-1">
                    <h6>ติดต่อฉัน<a href="tel:#" class="text-dark font1">02 9185241-2</a></h6>
                </div>
                <a href="myaccount" class="header-icon" title="ข้อมูลส่วนตัว"><i class="icon-user-2"></i></a>
                <a href="myorder" class="header-icon" title="รายการสั่งซื่อ"><i class="icon-truck"></i></a>

                <!-- <a href="#" class="header-icon"><i class="icon-wishlist-2"></i></a> -->

                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle dropdown-arrow" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                        <span class="cart-count badge-circle">{{data.cart.count_total}}</span>
                    </a>

                    <div class="dropdown-menu">
                        <div class="dropdownmenu-wrapper">
                            <div class="dropdown-cart-header">
                                <span>{{data.cart.count_total}} รายการ</span>

                                <a href="checkout" class="float-right">ตะกร้าสินค้า</a>
                            </div><!-- End .dropdown-cart-header -->

                            <div class="dropdown-cart-products">
                                <div class="product" *ngFor="let pro of data.cart.products">
                                    <div class="product-details">
                                        <h4 class="product-title">
                                            <a href="product?p={{ pro.url }}">{{pro.name}}</a>
                                        </h4>

                                        <span class="cart-product-info">
                                            <span class="cart-product-qty">{{pro.count}}</span>
                                            x ฿{{pro.price| number:'1.0-2'}}
                                        </span>
                                    </div><!-- End .product-details -->

                                    <figure class="product-image-container">
                                        <a href="product?p={{ pro.url }}" class="product-image">
                                            <img [src]="pro.path" alt="product" width="80" height="80">
                                        </a>
                                        <a href="javascript:void(0)" class="btn-remove icon-cancel" title="ยกเลิกรายการสั่งซื้อ" (click)="clickDelectCart(pro)"></a>
                                    </figure>
                                </div>
                            </div><!-- End .cart-product -->

                            <div class="dropdown-cart-total">
                                <span>ราคารวม</span>

                                <span class="cart-total-price float-right">{{data.cart.price_total| number:'1.0-2'}}</span>
                            </div><!-- End .dropdown-cart-total -->

                            <div class="dropdown-cart-action">
                                <a href="checkout?step=3" class="btn btn-dark btn-block">ชำระเงิน</a>
                            </div><!-- End .dropdown-cart-total -->
                        </div><!-- End .dropdownmenu-wrapper -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header d-none d-lg-block">
        <div class="container">
            <nav class="main-nav w-100">
                <ul class="menu">
                    <li class="active">
                        <a href="">หน้าหลัก</a>
                    </li>
                    <li>
                        <a href="category">หมวดหมู่สินค้า</a>
                        <div class="megamenu megamenu-fixed-width megamenu-3cols">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- <a href="#" class="nolink">VARIATION 1</a> -->
                                    <ul class="submenu">
                                        <li *ngFor="let cat of data.category"><a href="category?c={{ cat.url }}">{{cat.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- End .megamenu -->
                    </li>
                    <li><a href="news">ข่าวสาร</a></li>
                    <li><a href="blog">บล็อก</a></li>
                    <li><a href="about">เกี่ยวกับเรา</a></li>
                    <li><a href="contact">ติดต่อเรา</a></li>

                    <li *ngIf="userLogin.auth!='true'" class="float-right mr-0"><a href="login"
                            class="px-4">เข้าสู่ระบบ</a></li>
                    <li *ngIf="userLogin.auth=='true'" class="float-right mr-0"><a href="javascript:void(0)"
                            class="px-4" (click)="clickLogout()">ออกจากระบบ</a>
                    </li>

                    <!-- <li *ngIf="userLogin.auth=='true'" class="float-right mr-0"><a href="#"
                            class="px-4">{{userLogin.name}}</a></li> -->
                </ul>
            </nav>
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->