<footer class="footer bg-dark">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">ข้อมูลบริษัท</h4>
                        <ul class="contact-info">
                            <li>
                                <span class="contact-info-label">ที่อยู่</span>8/8 ซ.รามอินทรา 86
                                ถ.รามอินทรา แขวงมีนบุรี
                                เขตมีนบุรี จ. กรุงเทพฯ 10510
                            </li>
                            <li>
                                <span class="contact-info-label">เวเลาทำการ</span>
                                จันทร์-ศุกร์ / 8:00 - 17:00
                            </li>
                        </ul>
                    </div><!-- End .widget -->
                </div><!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">หมวดหมู่สินค้า</h4>

                        <div class="tagcloud">
                            <a href="category?c={{ cat.url }}" *ngFor="let cat of data.category">{{cat.name}}</a>
                        </div>
                    </div><!-- End .widget -->
                </div><!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">บริการลูกค้า</h4>

                        <ul class="links">
                            <li><a href="myorder">รายการสั่งซื้อสินค้า</a></li>
                            <li><a href="#">ใบรับประกันสินค้า</a></li>
                            <li><a href="news">ข่าวสาร</a></li>
                            <li><a href="blog">บล็อก</a></li>
                            <li><a href="about">เกี่ยวกับเรา</a></li>
                            <li><a href="contact">ติดต่อเรา</a></li>
                            <!-- <li><a href="help">ช่วยเหลือ</a></li> -->
                        </ul>
                    </div><!-- End .widget -->
                </div><!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">ติดต่อ</h4>
                        <ul class="contact-info">
                            <li>
                                <span class="contact-info-label">โทร </span><a href="tel:">02 9185241-2</a>
                            </li>
                            <li>
                                <span class="contact-info-label">แฟกซ์ </span>02-9185243
                            </li>
                            <li>
                                <span class="contact-info-label">อีเมล</span> <a href="mailto: tlm@truelinemed.com">
                                    tlm@truelinemed.com</a>
                            </li>
                        </ul>
                        <div class="social-icons">
                            <a href="#" class="social-icon social-instagram icon-instagram" target="_blank"
                                title="Instagram"></a>
                            <a href="#" class="social-icon social-twitter icon-twitter" target="_blank"
                                title="Twitter"></a>
                            <a href="https://www.facebook.com/truelinemed86" class="social-icon social-facebook icon-facebook" target="_blank"
                                title="Facebook"></a>
                        </div><!-- End .social-icons -->
                    </div><!-- End .widget -->
                </div><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="container">
        <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
            <p class="footer-copyright py-3 pr-4 mb-0">&copy; True Line Med. 2020. All Rights Reserved</p>
        </div><!-- End .footer-bottom -->
    </div><!-- End .container -->
</footer><!-- End .footer -->