<footer class="footer bg-dark">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">{{ 'company' | translate}}</h4>
                        <ul class="contact-info">
                            <li>
                                <span class="contact-info-label">{{ 'address' | translate}}</span>{{ 'company_address' | translate}}
                            </li>
                            <li>
                                <span class="contact-info-label">{{ 'business_hours' | translate}}</span>
                                {{ 'company_business_hours' | translate}}
                            </li>
                        </ul>
                    </div><!-- End .widget -->
                </div><!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">{{ 'menu_category' | translate}}</h4>

                        <div class="tagcloud">
                            <a href="category?c={{ cat.url }}" *ngFor="let cat of data.category">{{ 'name' | translate:cat}}</a>
                        </div>
                    </div><!-- End .widget -->
                </div><!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">{{ 'menu' | translate}}</h4>

                        <ul class="links">
                            <li><a href="myorder">{{ 'menu_order_list' | translate}}</a></li>
                            <li><a href="#">{{ 'menu_warranty' | translate}}</a></li>
                            <li><a href="news">{{ 'menu_news' | translate}}</a></li>
                            <li><a href="blog">{{ 'menu_blog' | translate}}</a></li>
                            <li><a href="about">{{ 'menu_about' | translate}}</a></li>
                            <li><a href="contact">{{ 'menu_contact' | translate}}</a></li>
                            <!-- <li><a href="help">ช่วยเหลือ</a></li> -->
                        </ul>
                    </div><!-- End .widget -->
                </div><!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">{{ 'contact' | translate}}</h4>
                        <ul class="contact-info">
                            <li>
                                <span class="contact-info-label">{{ 'tel' | translate}} </span><a href="tel:">02 9185241-2</a>
                            </li>
                            <li>
                                <span class="contact-info-label">{{ 'fax' | translate}} </span>02-9185243
                            </li>
                            <li>
                                <span class="contact-info-label">{{ 'email' | translate}}</span> <a href="mailto: tlm@truelinemed.com">
                                    tlm@truelinemed.com</a>
                            </li>
                        </ul>
                        <div class="social-icons">
                            <a href="#" class="social-icon social-instagram icon-instagram" target="_blank"
                                title="Instagram"></a>
                            <a href="#" class="social-icon social-twitter icon-twitter" target="_blank"
                                title="Twitter"></a>
                            <a href="https://www.facebook.com/truelinemed86" class="social-icon social-facebook icon-facebook" target="_blank"
                                title="Facebook"></a>
                        </div><!-- End .social-icons -->
                    </div><!-- End .widget -->
                </div><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="container">
        <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
            <p class="footer-copyright py-3 pr-4 mb-0">&copy; True Line Med. 2020. All Rights Reserved</p>
        </div><!-- End .footer-bottom -->
    </div><!-- End .container -->
</footer><!-- End .footer -->