<main class="main">
    <div class="category-banner-container bg-gray" *ngFor="let bc of data.banner_category">
        <div class="category-banner banner text-uppercase"
            style="background: no-repeat 100%/cover url('{{bc.path}}');">
            <div class="container position-relative">
            </div>
        </div>
    </div>

    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=""><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="">หน้าหลัก</a></li>
                <li class="breadcrumb-item active" aria-current="page">สินค้า</li>
                <li class="breadcrumb-item active" aria-current="page" *ngIf="filter.category_id != ''">{{filter.category_name}}</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-lg-9 main-content">
                <nav class="toolbox">
                    <div class="toolbox-left">
                        <div class="toolbox-item toolbox-sort">
                            <label>จัดเรียงโดย</label>

                            <div class="select-custom">
                                <select name="orderby" class="form-control"  [(ngModel)]="filter.order_by" (change)="changeOrderBy()">
                                    <option value="">สินค้าใหม่</option>
                                    <option value="price">ราคาจากน้อยไปมาก</option>
                                    <option value="price-desc">ราคาจากมากไปน้อย</option>
                                </select>
                            </div><!-- End .select-custom -->


                        </div><!-- End .toolbox-item -->
                    </div><!-- End .toolbox-left -->

                    <div class="toolbox-right">
                        <div class="toolbox-item toolbox-show">
                            <label>แสดง</label>

                            <div class="select-custom">
                                <select name="count" class="form-control" [(ngModel)]="filter.length"
                                    (change)="changeLength()">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div><!-- End .select-custom -->
                        </div><!-- End .toolbox-item -->

                        <div class="toolbox-item layout-modes">
                            <a href="javascript:void(0)" class="layout-btn btn-grid active" title="Grid" [ngClass]="{'active': !product_list}" (click)="clickShowGrid()">
                                <i class="icon-mode-grid"></i>
                            </a>
                            <a href="javascript:void(0)" class="layout-btn btn-list" title="List" [ngClass]="{'active': product_list}" (click)="clickShowList()">
                                <i class="icon-mode-list"></i>
                            </a>
                        </div><!-- End .layout-modes -->
                    </div><!-- End .toolbox-right -->
                </nav>

                <div class="row" *ngIf="!product_list">
                    <div class="col-6 col-sm-4" *ngFor="let product of products">
                        <div class="product-default inner-quickview inner-icon">
                            <figure>
                                <a href="product?p={{ product.url }}">
                                    <img [src]="product.path" alt="product">
                                </a>
                                <div class="label-group">
                                    <div *ngIf="product.discount > 0" class="product-label label-sale">ลด
                                        {{product.discount}}%
                                    </div>
                                </div>
                                
                                <a href="product?p={{ product.url }}" class="btn-quickview" title="รายละเอียดสินค้า">รายละเอียดสินค้า</a>
                            </figure>
                            <div class="product-details">
                                <div class="category-wrap">
                                    <div class="category-list">
                                        <a href="category?c={{ product.cat_url }}" class="product-category">{{product.category_name}}</a>
                                    </div>
                                </div>
                                <h2 class="product-title">
                                    <a href="product?p={{ product.url }}">{{product.name}}</a>
                                </h2>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                                <div class="price-box">
                                    <del class="old-price"
                                        *ngIf="product.discount > 0 && product.discount < product.price">฿{{product.standard_price|
                                        number:'1.0-2'}}</del>
                                    <span class="product-price">฿{{product.price| number:'1.0-2'}}</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div>
                    </div><!-- End .col-sm-4 -->
                </div><!-- End .row -->

                <div class="row pb-4" *ngIf="product_list">
                    <div class="col-12 product-default left-details product-list mb-4" *ngFor="let product of products">
                        <figure>
                            <a href="product?p={{ product.url }}">
                                <img [src]="product.path">
                            </a>
                            <div class="label-group">
                                <div *ngIf="product.discount > 0" class="product-label label-sale">ลด
                                    {{product.discount}}%
                                </div>
                            </div>
                        </figure>
                        <div class="product-details">
                            <div class="category-list">
                                <a href="category?c={{ product.cat_url }}" class="product-category">{{product.category_name}}</a>
                            </div>
                            <h2 class="product-title">
                                <a href="product?p={{ product.url }}">{{product.name}}</a>
                            </h2>
                            <div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    <span class="tooltiptext tooltip-top"></span>
                                </div><!-- End .product-ratings -->
                            </div><!-- End .product-container -->
                            <p class="product-description">{{product.description}}</p>
                            <div class="price-box">
                                <del class="old-price"
                                        *ngIf="product.discount > 0 && product.discount < product.price">฿{{product.standard_price|
                                        number:'1.0-2'}}</del>
                                    <span class="product-price">฿{{product.price| number:'1.0-2'}}</span>
                            </div><!-- End .price-box -->
                            <div class="product-action">
                                <button class="btn-icon btn-add-cart"><i class="icon-shopping-cart"></i>สั่งซื้อสินค้า</button>
                            </div>
                        </div><!-- End .product-details -->
                    </div>
                </div>

                <nav class="toolbox toolbox-pagination">
                    <div class="toolbox-item toolbox-show">
                        <label>แสดง</label>

                        <div class="select-custom">
                            <select name="count" class="form-control" [(ngModel)]="filter.length"
                                (change)="changeLength()">
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                            </select>
                        </div><!-- End .select-custom -->
                    </div><!-- End .toolbox-item -->

                    <ul class="pagination toolbox-item">
                        <li class="page-item" *ngIf="this.page.page_button_prev">
                            <a class="page-link page-link-btn" href="javascript:void(0)" (click)="clickPrev()"><i
                                    class="icon-angle-left"></i></a>
                        </li>
                        <li class="page-item" *ngIf="this.page.page_button_prev"><span class="page-link">...</span></li>
                        <li *ngFor="let but of page.page_button" class="page-item"
                            [ngClass]="{'active': but==page.page_current}"><a class="page-link"
                                href="javascript:void(0)" (click)="clickPage(but)">{{but}}</a></li>
                        <li class="page-item" *ngIf="this.page.page_button_last"><span class="page-link">...</span></li>
                        <li class="page-item" *ngIf="this.page.page_button_last">
                            <a class="page-link page-link-btn" href="javascript:void(0)" (click)="clickLast()"><i
                                    class="icon-angle-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div><!-- End .col-lg-9 -->

            <div class="sidebar-overlay"></div>
            <div class="sidebar-toggle"><i class="fas fa-sliders-h"></i></div>
            <aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
                <div class="sidebar-wrapper">
                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true"
                                aria-controls="widget-body-2">หมวดหมู่สินค้า</a>
                        </h3>

                        <div class="collapse show" id="widget-body-2">
                            <div class="widget-body">
                                <ul class="cat-list">
                                    <li>
                                        <a href="category?c=">สินค้าทั้งหมด</a>
                                    </li>
                                    <li *ngFor="let cat of data.category">
                                        <a href="category?c={{ cat.url }}">{{cat.name}}</a>
                                    </li>
                                </ul>
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    <div class="widget widget-featured">
                        <h3 class="widget-title">สินค้าแนะนำ</h3>

                        <div class="widget-body">
                            <div class="owl-carousel widget-featured-products">
                                <div class="featured-col">
                                    <div class="product-default left-details product-widget" *ngFor="let product of data.product_recommend">
                                        <figure>
                                            <a href="product?p={{ product.url }}">
                                                <img [src]="product.path" alt="product">
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h2 class="product-title">
                                                <a href="product?p={{ product.url }}">{{product.name}}</a>
                                            </h2>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div><!-- End .product-ratings -->
                                            </div><!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">฿{{product.price| number:'1.0-2'}}</span>
                                            </div><!-- End .price-box -->
                                        </div><!-- End .product-details -->
                                    </div>
                                </div><!-- End .featured-col -->

                                <!-- <div class="featured-col">
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="assets/images/products/product-13.jpg">
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h2 class="product-title">
                                                <a href="product.html">Product Short Name</a>
                                            </h2>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                            </div>
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="assets/images/products/product-14.jpg">
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h2 class="product-title">
                                                <a href="product.html">Product Short Name</a>
                                            </h2>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                            </div>
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="assets/images/products/product-8.jpg">
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h2 class="product-title">
                                                <a href="product.html">Product Short Name</a>
                                            </h2>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                            </div>
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div><!-- End .widget-featured-slider -->
                        </div><!-- End .widget-body -->
                    </div><!-- End .widget -->
                </div><!-- End .sidebar-wrapper -->
            </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-3"></div><!-- margin -->
</main><!-- End .main -->