<main class="main">
    <div class="page-header page-header-bg text-left"
        style="background: 70%/cover #D4E1EA url('assets/images/page-header-bg.jpg');">
        <div class="container">
            <h1>เกี่ยวกับเรา</h1>
            <a href="contact" class="btn btn-dark">ติดต่อเรา</a>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=""><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">เกี่ยวกับเรา</li>
            </ol>
        </div><!-- End .container -->
    </nav>

    <div class="about-section">
        <div class="container">
            <h2 class="subtitle">ทรูไลน์เมดคือใคร?</h2>
            <p>เราเป็นผู้จัดจำหน่ายผลิตภัณฑ์เพื่อสุขภาพในประเทศไทยที่จัดจำหน่ายให้กับร้านขายยาและโรงพยาบาลทั่วประเทศ</p>
        </div><!-- End .container -->
    </div><!-- End .about-section -->

    <div class="about-section">
        <div class="container">
            <h2 class="subtitle">ประวัติบริษัท</h2>
            <p>บริษัทก่อตั้งเมื่อปี 2545 ภายใต้ชื่อบริษัท ทรูไลน์ เมด จำกัด โดยบริษัทดำเนินธุรกิจด้านการนำเข้า ทำการตลาด
                และจัดจำหน่าย เวชภัณฑ์และเครื่องมือทางการแพทย์
                บริษัท ทรูไลน์เมด มุ่งมั่นสู่ความเป็นเลิศในการเป็นบริษัทผู้จัดจำหน่ายเวชภัณฑ์และผลิตภัณฑ์ทางการแพทย์
                ของคนไทยที่สามารถตอบสนองความต้องการของลูกค้า ด้วยสินค้าที่มีคุณภาพและการบริการที่เป็นเลิศ ที่มีการ
                พัฒนาอย่างต่อเนื่อง</p>
        </div><!-- End .container -->
    </div><!-- End .about-section -->

    <div class="features-section bg-gray">
        <div class="container">
            <h2 class="subtitle">ทำไมต้องใช้บริการกับเรา True line med</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feature-box bg-white">
                        <i class="icon-shipped"></i>

                        <div class="feature-box-content" style="height: 250px;">
                            <h3>รวดเร็ว</h3>
                            <p>เรามีความรวดเร็วทันเวลา โดยเฉพาะอย่างยิ่งในภาวการณ์แข่งขันยุคปัจจุบัน
                                ความรวดเร็วของการปฏิบัติงาน
                                ความรวดเร็วของการให้บริการจากการติดต่อจะเป็นที่พึงประสงค์ของทุกฝ่าย
                                ดังนั้นการให้เราจึงให้ความสำคัญกับบริการที่รวดเร็วและน่าประทับใจเพราะไม่ต้องเสียเวลารอคอย
                                สามารถใช้เวลาได้คุ้มค่า</p>
                        </div><!-- End .feature-box-content -->
                    </div><!-- End .feature-box -->
                </div><!-- End .col-lg-4 -->

                <div class="col-lg-4">
                    <div class="feature-box bg-white">
                        <i class="icon-check"></i>

                        <div class="feature-box-content" style="height: 250px;">
                            <h3>มีคุณภาพ</h3>
                            <p>สินค้าของเราทุกชิ้นมีคุณภาพและได้รับการรับรองจาก สํานักงานคณะกรรมการอาหารและยา (อย.)
                                ทำให้ลูกค้ามั่นใจในคุณภาพ</p>
                        </div><!-- End .feature-box-content -->
                    </div><!-- End .feature-box -->
                </div><!-- End .col-lg-4 -->

                <div class="col-lg-4">
                    <div class="feature-box bg-white">
                        <i class="fa fa-gavel"></i>

                        <div class="feature-box-content" style="height: 250px;">
                            <h3>ราคายุติธรรม</h3>
                            <p>เราเป็นผู้ผลิตและจัดจำหน่ายผลิตภัณฑ์เพื่อสุขภาพที่มีราคายุติธรรม</p>
                        </div><!-- End .feature-box-content -->
                    </div><!-- End .feature-box -->
                </div><!-- End .col-lg-4 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .features-section -->

    <div class="testimonials-section">
        <div class="container">
            <div style="text-align: center;">
                <h2>"คุณภาพของสินค้าและความพึงพอใจคือ สิ่งที่เรายึดมั่น"</h2>
                <h5>ภักดี งามดี</h5>
                <h5>Managing Director บริษัท True line med</h5>
            </div>
        </div><!-- End .container -->
    </div><!-- End .testimonials-section -->

</main><!-- End .main -->