<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=""><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">ติต่อเรา</li>
            </ol>
        </div><!-- End .container -->
    </nav>

    <div class="container">
        <div style="margin: 0px;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3874.459607144344!2d100.711434!3d13.811418!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5debe4ca5937e114!2z4Lia4Lij4Li04Lip4Lix4LiXIOC4l-C4o-C4uSDguYTguKXguJnguYwg4LmA4Lih4LiUIOC4iOC4s-C4geC4seC4lA!5e0!3m2!1sth!2sth!4v1611561027732!5m2!1sth!2sth"
                width="100%" height="450" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            <hr>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h2 class="light-title">เขียนถึงเรา</h2>

                <form action="#">
                    <div class="form-group required-field">
                        <label for="contact-name">ชื่อ</label>
                        <input type="text" class="form-control" id="contact-name" name="contact-name" required>
                    </div><!-- End .form-group -->

                    <div class="form-group required-field">
                        <label for="contact-email">อีเมล</label>
                        <input type="email" class="form-control" id="contact-email" name="contact-email" required>
                    </div><!-- End .form-group -->

                    <div class="form-group">
                        <label for="contact-phone">เบอร์โทรศัพท์</label>
                        <input type="tel" class="form-control" id="contact-phone" name="contact-phone">
                    </div><!-- End .form-group -->

                    <div class="form-group required-field">
                        <label for="contact-message">คุณกำลังคิดอะไรอยู่ ?</label>
                        <textarea cols="30" rows="1" id="contact-message" class="form-control" name="contact-message"
                            required></textarea>
                    </div><!-- End .form-group -->

                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary">ส่ง</button>
                    </div><!-- End .form-footer -->
                </form>
            </div><!-- End .col-md-8 -->

            <div class="col-md-4">
                <h2 class="light-title">ช่องทางติดต่อ</h2>

                <div class="contact-info">
                    <div>
                        <i class="icon-phone"></i>
                        <p><a href="tel:">02 9185241-2</a></p>
                    </div>
                    <div>
                        <i class="icon-fax"></i>
                        <p><a href="tel:">02-9185243</a></p>
                    </div>
                    <div>
                        <i class="icon-mail-alt"></i>
                        <p><a href="mailto:#">tlm@truelinemed.com</a></p>
                    </div>
                    <div>
                        <i class="icon-facebook"></i>
                        <p><a href="https://www.facebook.com/truelinemed86"  target="_blank">https://www.facebook.com/truelinemed86</a></p>
                    </div>
                </div><!-- End .contact-info -->
            </div><!-- End .col-md-4 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-8"></div><!-- margin -->
</main><!-- End .main -->