<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=""><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">บล็อก</li>
            </ol>
        </div><!-- End .container -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <article class="post" *ngFor="let blog of blogs">
                    <div class="post-media">
                        <a href="blog_detail?b={{blog.url}}">
                            <img [src]="blog.path" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <div class="post-date">
                            <span class="day">{{blog.day}}</span>
                            <span class="month">{{blog.month}}</span>
                        </div>

                        <h2 class="post-title">
                            <a href="blog_detail?b={{blog.url}}">{{blog.title}}</a>
                        </h2>

                        <div class="post-content">
                            <p>{{blog.detail}}</p>

                            <a href="blog_detail?b={{blog.url}}" class="read-more">อ่านเพิ่มเติม <i
                                    class="icon-angle-double-right"></i></a>
                        </div>

                        <div class="post-meta">
                            <span><i class="icon-calendar"></i>{{blog.day}} {{blog.month}} {{blog.year}}</span>
                            <span><i class="icon-user"></i>โดย <a href="javascript:void(0)">{{blog.user.fname}} {{blog.user.lname}}</a></span>
                            <!-- <span><i class="fa fa-tags"></i>
                                <a href="#">Haircuts & hairstyles</a>,
                                <a href="#">Fashion trends</a>,
                                <a href="#">Accessories</a>
                            </span> -->
                        </div>
                    </div>
                </article>


                <nav class="toolbox toolbox-pagination border-0">
                    <ul class="pagination">
                        <li class="page-item" *ngIf="this.page.page_button_prev">
                            <a class="page-link page-link-btn" href="javascript:void(0)" (click)="clickPrev()"><i
                                    class="icon-angle-left"></i></a>
                        </li>
                        <li class="page-item" *ngIf="this.page.page_button_prev"><span class="page-link">...</span></li>
                        <li *ngFor="let but of page.page_button" class="page-item"
                            [ngClass]="{'active': but==page.page_current}"><a class="page-link"
                                href="javascript:void(0)" (click)="clickPage(but)">{{but}}</a></li>
                        <li class="page-item" *ngIf="this.page.page_button_last"><span class="page-link">...</span></li>
                        <li class="page-item" *ngIf="this.page.page_button_last">
                            <a class="page-link page-link-btn" href="javascript:void(0)" (click)="clickLast()"><i
                                    class="icon-angle-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div><!-- End .col-lg-9 -->

            <aside class="sidebar col-lg-3">
                <div class="sidebar-wrapper">
                    <div class="widget widget-search">
                        <form role="search" method="get" class="search-form" action="#">
                            <input type="search" class="form-control" name="search"  placeholder="ค้นหา" [(ngModel)]="filter.search">
                            <button type="button" class="search-submit" title="ค้นหา" (click)="clickSearch()">
                                <i class="icon-search"></i>
                                <span class="sr-only">ค้นหา</span>
                            </button>
                        </form>
                    </div><!-- End .widget -->

                    <!-- <div class="widget widget-categories">
                        <h4 class="widget-title">Blog Categories</h4>

                        <ul class="list">
                            <li><a href="#">All about clothing</a></li>
                            <li><a href="#">Make-up &amp; beauty</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Fashion trends</a></li>
                            <li><a href="#">Haircuts &amp; hairstyles</a></li>
                        </ul>
                    </div> -->

                    <!-- <div class="widget">
                        <h4 class="widget-title">Recent Posts</h4>

                        <ul class="simple-post-list">
                            <li>
                                <div class="post-media">
                                    <a href="single.html">
                                        <img src="assets/images/blog/widget/post-1.jpg" alt="Post">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <a href="single.html">Post Format - Video</a>
                                    <div class="post-meta">
                                        April 08, 2018
                                    </div>
                            </li>

                            <li>
                                <div class="post-media">
                                    <a href="single.html">
                                        <img src="assets/images/blog/widget/post-2.jpg" alt="Post">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <a href="single.html">Post Format - Image</a>
                                    <div class="post-meta">
                                        March 23, 2016
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div> -->

                    <!-- <div class="widget">
                        <h4 class="widget-title">Tagcloud</h4>

                        <div class="tagcloud">
                            <a href="#">Fashion</a>
                            <a href="#">Shoes</a>
                            <a href="#">Skirts</a>
                            <a href="#">Dresses</a>
                            <a href="#">Bags</a>
                        </div>
                    </div> -->

                    <div class="widget">
                        <h4 class="widget-title">บทความ</h4>

                        <ul class="list">
                            <li [ngClass]="filter.month === '' && filter.year === ''? 'active' : 'null'"><a href="blog" >บทความทั้งหมด</a></li>
                            <li *ngFor="let bd of blog_date"  [ngClass]="filter.month == bd.blog_month && filter.year == bd.blog_year? 'active' : 'null'"><a href="blog?month={{bd.blog_month}}&year={{bd.blog_year}}&" >{{bd.blog_month_th}} {{bd.blog_year}} ({{bd.count}})</a></li>
                        </ul>
                    </div><!-- End .widget -->


                    <!-- <div class="widget widget_compare">
                        <h4 class="widget-title">Compare Products</h4>

                        <p>You have no items to compare.</p>
                    </div> -->
                </div><!-- End .sidebar-wrapper -->
            </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-6"></div><!-- margin -->
</main><!-- End .main -->